<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link href="template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Team 1</a>
        
        
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

  <form id="form1" name="form1" method="post" action="">
    <label>
      <select name="otherCatches" id="otherCatches">
        <option value="">Select your option</option>
      <option value="Half">HALF</option>
          <option value="Equal" >SAME</option>
          <option value="Double">DOUBLE</option>      </select>
    </label>
  </form>



    <div class="row">
      <div class="col-md-6">
        <svg width="500" height="500" class="chart"></svg>
      </div>
      <div class="col-md-6" style="height:500px; overflow:scroll;">
        <div id="table">  
      </div>
      </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
